* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ecf0eb;
  text-decoration: none;
}

/* gnb, 타이틀 폰트 */
@font-face {
  font-family: "BMJUA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* 컨텐츠 폰트 */
@font-face {
  font-family: "NoonnuBasicGothicRegular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.content {
  font-family: "NoonnuBasicGothicRegular";
}

header,
.head_wrap,
.head_wrap * {
  background-color: #ffffff;
}

header {
  border-bottom: 1px solid #a7ae9e;
}

/* 헤더 전체 감싸는 div */
.head_wrap {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

/* 로고 */
.logo img {
  width: 122px;
  height: auto;
}

.gnb {
  font-family: "BMJUA" !important;
}

.gnb,
.login {
  display: none;
}

.menu img {
  cursor: pointer;
}

/* 태블릿 모드 */
@media screen and (min-width: 435px) {
  .menu {
    display: block;
  }
}

/* pc 모드 */
@media screen and (min-width: 1024px) {
  .head_wrap {
    max-width: 1700px;
  }

  /* gnb 메뉴 div */
  .gnb,
  .login {
    display: block;
  }

  .gnb {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    font-weight: bold;
  }

  .gnb div {
    padding: 30px;
    font-size: 23px;
  }

  .gnb div a {
    color: #4e4e4e;
    text-decoration: none;
  }

  .gnb div a:hover {
    color: #1677bd;
  }

  /* 로그인 div */
  .login {
    font-size: 20px;
  }

  .menu {
    display: none;
  }
}
