/* 헤더 전체 감싸는 div */
.head_wrap {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로고 */
.logo img {
  width: 230px;
  height: 100px;
}

/* gnb 메뉴 div */
.gnb {
  display: flex;
  justify-content: center;
  margin-right: 50px;
  font-weight: bold;
}

.gnb div {
  padding: 30px;
  font-size: 23px;
}

.gnb div a {
  color: #4e4e4e;
  text-decoration: none;
}

.gnb div a:hover {
  color: #1677bd;
}

/* 로그인 div */
.login {
  font-size: 20px;
}

/* pc 모드에서 메뉴 버튼 숨기기 */
.menu {
  display: none;
}

/* 테블릿 모드 */
@media screen and (max-width: 1024px) {
  .gnb,
  .login {
    display: none;
  }
  .menu {
    display: block;
  }
}

/* 모바일 모드 */
@media screen and (max-width: 435px) {
}
