* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  word-break: keep-all;
}

body {
  background: #ecf0eb;
}

/* gnb, 타이틀 폰트 */
@font-face {
  font-family: "BMJUA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* 컨텐츠 폰트 */
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 300;
}

.content {
  font-family: "NoonnuBasicGothicRegular";
}

header,
.head_wrap,
.head_wrap * {
  background-color: #ffffff;
}

header {
  border-bottom: 1px solid #a7ae9e;
}

/* 헤더 전체 감싸는 div */
.head_wrap {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

/* 로고 */
.logo img {
  width: 122px;
  height: auto;
}

/* 메뉴 */
.gnb {
  font-family: "BMJUA" !important;
}

.gnb,
.login {
  display: none;
}

.menu img {
  cursor: pointer;
}

.userIcon img {
  width: 55px;
  height: 55px;
  border-radius: 30px;
}

.userText a {
  color: #000000;
  text-decoration: none;
}

.userText a:hover {
  text-decoration: underline;
}

.userName {
  font-weight: bold;
  padding-right: 20px;
}

.userText {
  font-size: 14px;
  padding-top: 5px;
}

/* 태블릿 모드 */
@media screen and (min-width: 435px) {
  .menu {
    display: block;
  }
}

/* pc 모드 */
@media screen and (min-width: 1024px) {
  .head_wrap {
    max-width: 1700px;
  }

  /* gnb 메뉴 div */
  .gnb,
  .login {
    display: block;
  }

  .gnb {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    font-weight: bold;
  }

  .gnb div {
    padding: 30px;
    font-size: 23px;
  }

  .gnb div a {
    color: #4e4e4e;
    text-decoration: none;
  }

  .gnb div a:hover {
    color: #4a7800;
  }

  /* 로그인 div */
  .login a {
    color: #000000;
    text-decoration: none;
  }

  .login a:hover {
    text-decoration: underline;
  }

  .menu {
    display: none;
  }
}
