main {
  width: 100%;
}

.mainContentsWrap {
  display: none;
}

.mainContentsWrap,
.mainContents {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.mainContents {
  display: flex;
  align-content: end;
}

/* 모바일 */

/* 상단 */
.sectionTop {
  width: 90%;
  height: 20%;

  display: block;
  display: flex;

  margin: 0 auto;
  margin-top: 50px;
  background-color: #a7ae9e;
  border-radius: 5px;
}
.contentInnerWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: right;
  padding-right: 10px;
}
.recommend {
  display: flex;
  flex-direction: column;
  width: 18%;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 1px 0.9px rgba(0, 0, 0, 25%);
}

.cardWrap {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.third {
  display: none;
}
.last {
  display: none;
}
.cardInnerWrap {
  height: 80px;
  width: 160px;
  margin: 2%;
  background-color: #ecf0eb;
  border-radius: 5px;
  color: #000000;
}
.cardLink:visited {
  color: #000000;
}

/* 내용 */
.card {
  height: 100%;
  width: 100%;
  padding-top: 13px;
}

.cardTitle {
  height: 50%;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}
.cardPlace {
  height: 50%;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

/* 줄 */
.sectionLine {
  width: 90%;
  height: 1px;
  background-color: #adbba8;
  margin: 34px auto 27px auto;
}
/* 하단 */
.sectionBottomWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 74px;
}
.sectionBottom {
  width: 93%;
}
.sectionBottomInnerWrap {
  width: 97%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
.infoWrap {
  align-content: center;
  border-radius: 5px;
  width: 49%;
  height: 160px;
  padding: 10px;
}

.infoImg {
  min-width: 55px;
  min-height: 55px;
  text-align: center;
}

.infoImg img {
  height: 60px;
}

.infoText {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 25%);
  text-align: center;
}
.infoWrap:nth-of-type(1) {
  background-color: #29d3aa;
}
.infoWrap:nth-of-type(2) {
  background-color: #60b3ef;
}
.infoWrap:nth-of-type(3),
.infoWrap:nth-of-type(4) {
  margin-top: 10px;
}

.infoWrap:nth-of-type(3) {
  background-color: #efb660;
}
.infoWrap:nth-of-type(4) {
  background-color: #b0d93d;
}

.contentWrap {
  display: flex;
  height: 100px;
  width: 100%;
}

/* 분단점 */
@media (min-width: 435px) {
  .third {
    display: block;
  }
}
@media (min-width: 580px) {
  .sectionLine {
    width: 90%;
    height: 1px;
    margin: 53px auto;
  }
  .contentWrap {
    height: 110px;
  }
  .cardInnerWrap {
    height: 90px;
  }
  .cardTitle {
    font-size: 23px;
  }
  .cardPlace {
    font-size: 15px;
  }
  .sectionBottomInnerWrap {
    margin-bottom: 0;
  }
}

@media (min-width: 640px) {
  .recommend {
    flex-direction: row;
  }

  .infoWrap {
    width: 24%;
    height: 220px;
  }

  .infoWrap:nth-of-type(3),
  .infoWrap:nth-of-type(4) {
    margin-top: 0;
  }
  .infoImg {
    margin: 0 auto 17px auto;
  }

  .infoImg img {
    height: 70px;
  }
  .infoText {
    font-size: 18px;
  }
}

@media (min-width: 725px) {
  .recommend {
    font-size: 18px;
  }
}

@media (min-width: 830px) {
  .last {
    display: block;
  }
}

@media (min-width: 1025px) {
  .sectionLine,
  .sectionTop,
  .sectionBottom,
  .sectionBottomWrap {
    display: none;
  }
  .mainContentsWrap {
    display: block;
    width: 100%;
  }
  .mainContentsWrap .mainContetnsBtn {
    position: relative;
  }
  .mainContentsWrap .mainContetnsBtn a {
    position: absolute;
  }
  .mainContentsWrap .mainContetnsBtn a:hover {
    transition: transform 0.5s ease;
    transform: translateY(-20px) scale(1.1);
  }

  /*두류*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(1) {
    top: 210px;
    left: 280px;
  }

  /*범어*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(2) {
    top: 350px;
    left: 450px;
  }

  /*앞산*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(3) {
    top: 215px;
    left: 565px;
  }

  /*신암*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(4) {
    top: 280px;
    left: 800px;
  }

  /*침산*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(5) {
    top: 185px;
    left: 900px;
  }

  .mainContentsWrap .mainContetnsBtn a img {
    width: 60px;
  }
  .mainContentsWrap .mainContents img {
    width: 1200px;
  }

  .infoText {
    font-size: 25px;
  }
}
@media (min-width: 1220px) {
  /*두류*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(1) {
    top: 250px;
    left: 325px;
  }

  /*범어*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(2) {
    top: 400px;
    left: 520px;
  }

  /*앞산*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(3) {
    top: 250px;
    left: 660px;
  }

  /*신암*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(4) {
    top: 320px;
    left: 935px;
  }

  /*침산*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(5) {
    top: 220px;
    left: 1055px;
  }

  .mainContentsWrap .mainContetnsBtn a img {
    width: 68px;
  }
  .mainContentsWrap .mainContents img {
    width: 1400px;
  }
}

@media (min-width: 1418px) {
  /*두류*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(1) {
    top: 270px;
    left: 370px;
  }

  /*범어*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(2) {
    top: 470px;
    left: 600px;
  }

  /*앞산*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(3) {
    top: 290px;
    left: 760px;
  }

  /*신암*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(4) {
    top: 370px;
    left: 1070px;
  }

  /*침산*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(5) {
    top: 245px;
    left: 1205px;
  }

  .mainContentsWrap .mainContetnsBtn a img {
    width: 78px;
  }
  .mainContentsWrap .mainContents img {
    width: 1600px;
  }
}

@media (min-width: 1618px) {
  .mainContentsWrap {
    display: block;
    width: 100%;
  }
  .mainContentsWrap .mainContetnsBtn {
    position: relative;
  }
  .mainContentsWrap .mainContetnsBtn a {
    position: absolute;
  }
  .mainContentsWrap .mainContetnsBtn a:hover {
    transition: transform 0.5s ease;
    transform: translateY(-20px) scale(1.1);
  }

  /*두류*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(1) {
    top: 330px;
    left: 440px;
  }

  /*범어*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(2) {
    top: 550px;
    left: 700px;
  }

  /*앞산*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(3) {
    top: 330px;
    left: 900px;
  }

  /*신암*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(4) {
    top: 440px;
    left: 1270px;
  }

  /*침산*/
  .mainContentsWrap .mainContetnsBtn a:nth-of-type(5) {
    top: 300px;
    left: 1430px;
  }

  .mainContentsWrap .mainContetnsBtn a img {
    width: 88px;
  }
  .mainContentsWrap .mainContents img {
    width: 1900px;
  }
}
