.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin-right: -57%;
  width: 57%;
  overflow-y: auto;
  background: #adbba8;
  transition: margin-right 0.5s ease, opacity 0.5s ease, visibility 0.5s ease; /* 애니메이션 효과 */
  opacity: 0; /* 초기 상태에서 불투명도 0 */
  visibility: hidden; /* 기본적으로 보이지 않음 */
  z-index: 1000;
}

.sidebar.toggle {
  visibility: visible; /* 보이도록 설정 */
  margin-right: 0; /* 보이도록 설정 */
  opacity: 1; /* 불투명도 1로 변경 */
}

.userInfoWrap {
  margin-bottom: 20px; /* 아래 여백 추가 */
  /* padding: 48px 55px 40px 15px; */
  padding: 48px 31% 40px 14%;
}

.userInfo {
  display: flex;
  flex-direction: row;
}

.userIcon {
  width: 55px; /* 아이콘 크기 설정 */
  height: 55px; /* 아이콘 크기 설정 */
  border-radius: 50%; /* 원형으로 만들기 */
  margin-right: 16px; /* 텍스트와의 간격 */
}

.userName {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.logout {
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-decoration: underline;
}

ul a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border-top: 1px solid #becbb9;
  display: block; /* 인라인 태그에는 보더가 짧게 나타남 */
  text-shadow: 0 0 2px rgba(0, 0, 0, 40%);
}
ul a:nth-of-type(3) {
  border-bottom: 1px solid #becbb9;
}
ul a li {
  padding: 30px;
  transition: background 0.3s ease; /* 배경 색상 전환 효과 */
}

ul a li:hover {
  background: rgba(255, 255, 255, 0.2); /* 호버 시 배경색 변경 */
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

@media screen and (max-width: 380px) {
  .userInfoWrap {
    margin-bottom: 20px; /* 아래 여백 추가 */
    /* padding: 48px 55px 40px 15px; */
    padding: 48px 24% 40px 14%;
  }
}
