* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100%;
}

header,
.headerWrap,
footer,
.contentWrap,
.cardInnerWrap,
.sectionTop,
.locationSectionBottom,
.parkGridWrap,
.searchCardImg,
.searchPlaceWrap,
main {
  border: 1px black solid;
}

/* 헤더 */
header {
  display: flex;
  height: 185px;
  width: 100%;
}
.headerWrapLeft {
  width: 30%;
  padding: 30px;
}
.headerWrapRight {
  width: 30%;
  padding: 30px;
}
.headerWrapCenter {
  width: 40%;
  padding: 40px;
}
.headerInnerWrapTop {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.headerInnerWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 60px;
}
.account {
  display: none;
}

/* 메인 */
main {
  width: 100%;
  height: 100%;
}

.mainContents {
  width: 100%;
  height: 70%;
}

/* 세션 윗 부분*/

.locationSectionTop {
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
}
.searchPlaceWrap {
  width: 100%;
  height: 335px;
}
.searchPlace {
  width: 100%;
  height: 100%;
}
.searchTitle {
  height: 95px;
}
.searchTitleText {
  width: 355px;
  height: 100%;
}
.searchBoxWrap {
  height: 240px;
  width: 100%;
}
.searchBox {
  width: 100%;
  height: 100%;
}
.block {
  height: 90px;
}

.searchFormContentWrap {
  width: 100%;
  height: 100%;
}
.searchContentsWrap {
  width: 100%;
  height: 155px;
}

/* 세션 아랫부분 */
.locationSectionBottom {
  max-width: 1200px;
  height: 1037px;
  margin: 0 auto;
}
.bottomWrap {
  width: 100%;
  height: 900px;
}
.parkGrid {
  display: flex;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.parkGridWrap {
  width: 45%;
  height: 22%;
}

.parkGridWrap:nth-child(odd) {
  margin-left: 3.3%;
  margin-right: 3.3%;
}
.searchCardWrap {
  width: 100%;
  height: 100%;
}
.searchCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.searchCardImg {
  width: 50%;
}
.searchCardTextWrap {
  width: 50%;
}
.searchCardText {
  display: flex;
  width: 100%;
  padding: 20% 20% 13% 15%;
}
.searchCardTitle {
  width: 60%;
}
.searchCardLocation {
  width: 40%;
}
.searchCardLocationText {
  width: 100%;
  padding-left: 15%;
}
/* 푸터 */
footer {
  height: 185px;
  background-color: #c0c0c0;
}

@media (max-width: 1240px) {
  /* 헤더 */
  header {
    justify-content: space-between;
  }
  .headerWrapCenter {
    display: none;
  }
  .loginText {
    display: none;
  }
  .account {
    display: block;
  }

  footer {
    height: 20%;
  }
}
@media (max-width: 830px) {
  .last {
    display: none;
  }
}

@media (max-width: 580px) {
  .recommend {
    flex-direction: column;
  }
}

@media (max-width: 435px) {
  .headerWrapLeft {
    width: 60%;
  }
  .headerWrapRight {
    width: 40%;
  }
  .third {
    display: none;
  }
}
