.wrap {
  padding: 80px 0;
}

/* 타이틀 배경 */
.title_bg {
  background-color: #b2bbaf;
  max-width: 1200px;
  margin: auto;
}

.title {
  display: inline-block;
  background-color: #454f41;
  padding: 25px 100px 25px 90px;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0 50px 50px 0;
  font-family: "BMJUA" !important;
}

.content .e_tap {
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}

.content .e_tap a {
  margin-right: 20px;
  color: #000000;
}

/*==================================*/

.content .e_banner_container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  justify-content: center;
}

.content .e_banner_container div {
  padding: 0 20px;
}

.content .e_banner_container img {
  width: 500px;
}

@media (max-width: 550px) {
  .content .e_banner_container img {
    width: 100%;
  }

  .wrap {
    padding: 40px 0;
  }

  .title {
    padding: 25px 55px 25px 45px;
  }
}
