.content {
  margin: 0 auto;
  max-width: 1200px;
}

.wrap {
  padding: 80px 0;
}

/* 타이틀 배경 */
.title_bg {
  background-color: #b2bbaf;
}

.title {
  display: inline-block;
  background-color: #454f41;
  padding: 25px 100px 25px 90px;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0 50px 50px 0;
  font-family: "BMJUA" !important;
}

.content .e_tap {
  padding: 50px;
}

.event_form,
.event_list {
  padding: 30px;
}

.event_form span {
  display: inline-block;
  width: 180px;
  padding: 5px;
}

.event_form button {
  margin: 10px;
  padding: 5px;
}

.event_list {
  display: flex;
}

.event_content {
  width: 50%;
  color: #555555;
}

.event_content span {
  color: #222222;
}

.event_check {
  color: peru;
}

.event_content div {
  border: 1px solid #999999;
  padding: 3px;
}

.event_delete {
  align-content: center;
  padding: 30px;
}

@media (max-width: 550px) {
  .wrap {
    padding: 40px 0;
  }

  .title {
    padding: 25px 55px 25px 45px;
  }
}
