.wrap {
  padding: 80px 0;
}

/* 타이틀 배경 */
.title_bg {
  max-width: 1200px;
  margin: auto;
  background-color: #90d322;
}

.title {
  display: inline-block;
  background-color: #4a7800;
  padding: 25px 55px 25px 45px;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0 50px 50px 0;
  font-family: "BMJUA" !important;
}

.manage {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding-top: 70px;
}

.memberList {
  width: 15%;
  margin-right: 7%;
}
.manageContents {
  width: 50%;
}
.memberDelete {
  width: 20%;
}
