/* 간편로그인 */
.login_content {
  display: flex;
  padding: 50px;
  height: 70vh;
  align-items: center;
}

.social_login {
  width: 430px;
  text-align: center;
  color: #5c5c5c;
  font-size: 16px;
  border-radius: 10px;
  padding: 40px 20px;
  margin: auto;
}

.social_login,
.social_login * {
  background: #ffffff;
}

.social_title {
  padding-bottom: 20px;
}

.social_login img {
  padding: 10px 0;
  cursor: pointer;
}

/* 모바일*/
@media (max-width: 500px) {
  .social_login {
    width: 100%;
  }
}
