.wrap {
  padding-top: 40px;
}

.allBody {
  padding: 40px 0;
}

.mom,
.mom * {
  background: #f8f8f8;
}

/* 타이틀 배경 */
.title_bg {
  background-color: #28d3aa;
}

.title {
  display: inline-block;
  background-color: #189074;
  padding: 25px 55px 25px 45px;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0 50px 50px 0;
  font-family: "BMJUA" !important;
}

/* walkText*/

.walkText {
  padding: 40px 20px;
  max-width: 500px;
  margin: 0 auto;
}

.detail {
  padding: 10px 0px;
  display: flex;
  border-bottom: 0.4px solid #189074;
  width: 100%;
}

.detailContents {
  display: block;
  width: 80%;
}

.detailTitle {
  font-size: 18px;
  font-weight: bold;
  color: #189074;
  margin-bottom: 9px;
  display: flex;
}

.detailText {
  line-height: 17px;
  align-content: center;
}

.detailImg {
  height: 100%;
  margin-left: 11px;
  min-width: 85px;
  border-radius: 5px;
}

/* 걷기 이미지 */
.walkImg {
  display: none;
}
.walkImg img {
  width: 100%;
  height: auto;
}

/* healthWalk */
.healthWalkWrap {
  padding: 0 13px 75px 13px;
  margin-top: 10%;
  width: 100%;
  max-width: 976px;
}
.healthWalk {
  border: 1px solid #189074;
  border-radius: 10px;
  padding-bottom: 10px;
}

/* 걷기 설명 */
.healthWalkTitle,
.healthWalkTitle * {
  background-color: #189074;
}

.healthWalkTitle {
  margin: 40px 0 25px 0;
  border-radius: 0px 30px 30px 0px;
  font-size: 18px;
  width: 250px;
  padding: 14px 20px 11px 35px;
  color: #ffffff;
}

.healthWalkTitle span {
  color: #fcff74;
}

.healthWalkDetail {
  padding: 0 35px 27px 40px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.8px;
}

@media screen and (min-width: 435px) {
  .title {
    padding: 25px 100px 25px 90px;
  }
}

/* 테블릿 */
@media screen and (min-width: 700px) {
  .wrap {
    padding-top: 80px;
  }

  .walkText {
    display: none;
  }

  .walkImg {
    display: block;
    max-width: 981px;
    padding-top: 80px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 989px) {
  .healthWalkWrap {
    margin: auto;
    padding: 75px 0;
  }
}

/* pc */
@media screen and (min-width: 1240px) {
  .mom {
    max-width: 1200px;
    margin: 0 auto;
  }
}
